<section id="search">
  <h1>Search</h1>
  <form action="" method="" class="form">
    <input type="text" class="search" name="search" placeholder="Title..." />
    <input type="text" name="" class="genre" placeholder="Genre..." />
    <input type="number" name="" class="year" placeholder="Year..." />
    <input type="submit" value="search" />
  </form>
</section>

<section id="catalog">
  <div class="band">

    <!-- If there are posts for movie in the database display each of them -->
   {{#each movies}}
     {{>movie}}
    {{else}}
      <div class="no-posts">
        <p class="no-offer">There are no movies matched...</p>
      </div>
    {{/each}}
  </div>
</section>